<section>
    <h2>Home</h2>

    <form action="">
        <label for="type">
            Type
            <input type="text" name="type" id="type" value="haiku">
        </label>

        <label for="theme">
            Theme
            <input type="text" name="theme" id="theme" value="gras weide kanye water">
        </label>
    </form>
    <p></p>


    <button>Fetch poetry</button>
    <button>Fetch keywords</button>
</section>
<aside></aside>
<section class="loading"></section>
