<section class="landing">
            <h1>Dichter</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ullamcorper ipsum. Donec eleifend in velit id aliquet. Vivamus nec ultrices</p>
        </section>
        <section class="blocks">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </section>

        <section class="heading-genre">
            <h2>Kies een genre.</h2>
        </section>
        <section class="genres">
            <ul>
                <li data-style="romantic">Romantisch drama plot</li>
                <li data-style="tragedy">Toneel Opening Tragedie</li>
                <li data-style="comedy">Toneel Opening Komedie</li>
                <li data-style="haiku">Haiku</li>
                <li data-style="snelsonnet">Snelsonnet</li>
                <li>Tragedie plot</li>
                <li>Limmerick</li>
                <li>Six Word Story</li>
                <li>Elevenie</li>
                <li>Manifest</li>
                <li>Ollebolleke</li>
                <li>Essay</li>
            </ul>
        </section>

        <section class="heading-themes">
            <h2>Selecteer 3 thema's</h2>
        </section>
        <section class="themes">
            <ul>
                <li>Theme 1</li>
                <li>Theme 2</li>
                <li>Theme 3</li>
                <li>Theme 4</li>
            </ul>
        </section>
        <div class="nextBtn">
            <img src="assets/svg/arrow-right.svg" alt="">
        </div>
    </main>