



<section class="landing">
    <h1>Stads <span>dichter</span></h1>
    <p>
        Bouw je vers met Dichter, verenig verstand creëer poëzie en inspireer samen.
    </p>
</section>

<section class="blocks">

    {{!-- Linksboven, beige blok --}}
    <div class="block">
        <p>Limerick</p>
    </div>

    {{!-- Linksmidden, paarse cirkel --}}
    <div class="block">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g id="arrow-right">
                <polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"/>
            </g>
        </svg>
    </div>

    {{!-- Rechtsboven, oranje pil --}}
    <div class="block">
        <p>
            Woorden als stenen stapelen Een gedicht ontstaat.
        </p>
    </div>

    {{!-- Linksmidden, oranje cirkel --}}
    <div class="block">
        <p>Begin</p>

        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g id="arrow-right">
                <polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"/>
            </g>
        </svg>
    </div>

    {{!-- Linksonder, beige blok --}}
    <div class="block">
        <p>
            AI dichter, creatief en vrij, vangt het onbekende met zijn woorden in een rij.
        </p>
    </div>

    {{!-- Midden, ekru cirkel --}}
    <div class="block">
        <p>
            <span>Bouw</span> samen een gedicht.
        </p>
    </div>

    {{!-- Rechtsonder paarse rechthoek --}}
    <div class="block">
        <p>Haiku</p>
    </div>

    {{!-- Rechtsmidden, paarse cirkel --}}
    <div class="block">
        <p>Start</p>

        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g id="arrow-right">
                <polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"/>
            </g>
        </svg>
    </div>
    
</section>


<section class="heading-genre">
    <h2>Kies een genre.</h2>
</section>
<section class="genres">
    <ul>
        <li data-genre-name="romantic">Romantisch drama plot</li>
        <li data-genre-name="tragedy">Toneel Opening Tragedie</li>
        <li data-genre-name="comedy">Toneel Opening Komedie</li>
        <li data-genre-name="haiku">Haiku</li>
        <li data-genre-name="snelsonnet">Snelsonnet</li>
        <li data-genre-name="tragedy-plot">Tragedie plot</li>
        <li data-genre-name="limmerick">Limmerick</li>
        <li data-genre-name="six-word-story">Six Word Story</li>
        <li data-genre-name="elevenie">Elevenie</li>
        <li data-genre-name="manifest">Manifest</li>
        <li data-genre-name="ollebolleke">Ollebolleke</li>
        <li data-genre-name="essay">Essay</li>
    </ul>
</section>

<section class="heading-themes">
    <h2>Kies thema's voor jullie gedicht</h2>
</section>
<section class="themes">
    <ul>
        <li data-theme-name="jubeljaar">Jubeljaar</li>
        <li data-theme-name="koffiezetapparaat">Koffiesetapparaat</li>
        <li data-theme-name="Ananas">Ananas</li>
        <li data-theme-name="olijfboom">Olijfboom</li>
        <li data-theme-name="schommelstoel">Schommelstoel</li>
        <li data-theme-name="sneeuwvlok">Sneeuwvlok</li>
        <li data-theme-name="lerenjas">Leren jas</li>
        <li data-theme-name="Luchtballon">Luchtballon</li>
        <li data-theme-name="muziekinstrument">Muziekinstrument</li>
    </ul>
</section>

<section class="poem">
    <article>
        <p></p>
    </article>
</section>

<section class="loading">
    <h3>Bezig met <em>Blokwoorden</em> verzamelen</h3>
    <p>klik de cirkels om de poem sneller te laden!</p>
    <div></div>
</section>
<aside></aside>

<div class="nextBtn">
    <img src="assets/svg/arrow-right.svg" alt="" draggable="false">
</div>

<div class="finalNextBtn">
    <img src="assets/svg/arrow-right.svg" alt="" draggable="false">
</div>
