<section class="landing">
    <h1>Dichter</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ullamcorper ipsum. Donec eleifend in velit id aliquet. Vivamus nec ultrices</p>
</section>
<section class="blocks">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
</section>

<section class="heading-genre">
    <h2>Kies een genre.</h2>
</section>
<section class="genres">
    <ul>
        <li data-genre-name="romantic">Romantisch drama plot</li>
        <li data-genre-name="tragedy">Toneel Opening Tragedie</li>
        <li data-genre-name="comedy">Toneel Opening Komedie</li>
        <li data-genre-name="haiku">Haiku</li>
        <li data-genre-name="snelsonnet">Snelsonnet</li>
        <li>Tragedie plot</li>
        <li>Limmerick</li>
        <li>Six Word Story</li>
        <li>Elevenie</li>
        <li>Manifest</li>
        <li>Ollebolleke</li>
        <li>Essay</li>
    </ul>
</section>

<section class="heading-themes">
    <h2>Selecteer 3 thema's</h2>
</section>
<section class="themes">
    <ul>
        <li data-theme-name="jubeljaar">Jubeljaar</li>
        <li data-theme-name="koffiezetapparaat">Koffiesetapparaat</li>
        <li data-theme-name="Ananas">Ananas</li>
        <li data-theme-name="olijfboom">Olijfboom</li>
        <li>Schommelstoel</li>
        <li>Sneeuwvlok</li>
        <li>Leren jas</li>
        <li>Luchtballon</li>
        <li>Muziekinstrument</li>
    </ul>
</section>

<section class="poem">
    <article>
        <p></p>
    </article>
</section>

<section class="loading">
    
</section>
<aside></aside>

<div class="nextBtn">
    <img src="assets/svg/arrow-right.svg" alt="">
</div>

<div class="finalNextBtn">
    <img src="assets/svg/arrow-right.svg" alt="">
</div>
