@import 'reset.css';
@import 'variables.css';
@import 'global.css';
@import 'landing.css';
@import 'genre.css';
@import 'themes.css';
@import 'poem.css';
@import 'loading.css';

main.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main:has(aside ul){
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 20px;
}

