body.romantic{
    background-image: url('../assets/svg/romantic.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.tragedy{
    background-image: url('../assets/svg/tragedy.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.comedy{
    background-color: var(--comedy-bg-color);
}

body.haiku{
    background-color: var(--haiku-bg-color);
}

body.snelsonnet{
    background-color: var(--snelsonnet-bg-color);
}

body.tragedy-plot{
    background-color: var(--tragedyplot-bg-color);
}

body.six-word-story{
    background-color: var(--sixword-bg-color);
}

body.manifest{
    background-color: var(--manifest-bg-color);
}

body.ollekebolleke{
    background-color: var(--ollekebolleke-bg-color);
}

body.essay{
    background-color: var(--essay-bg-color);
}

section.heading-genre{
    display: none;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s;
    font-family: var(--primary-font-family);
}

section.heading-genre h2 span{
    font-family: var(--secondary-font-family);
}

section.heading-genre.fade-in{
    opacity: 1;
    transform: translateY(0);
}

section.heading-genre.block{
    display: block;
}

section.heading-genre.remove{
    display: none;
}

section.heading-genre.fade-out{
    opacity: 0;
    transform: translateY(150px);
    transition: 1.7s;
}

section.heading-genre h2{
    font-size: 4em;
    font-weight: 400;
}

section.genres{
    transform: translateY(-200vh);

}

section.genres.remove{
    display: none;
}

section.genres.fall{
    transform: translateY(0px);
    transition: 1.7s;
}
section.genres.out-screen{
    animation: fall 2s ease-in;
    animation-fill-mode: forwards;
}

section.genres ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

section.genres ul li{
    color: black;
    background-color: white;
    padding: 40px;
    font-size: 1em;
    font-weight: 600;
    height: fit-content;
}

section.genres ul li.active{
    opacity: 0.5;
}

section.genres ul li:nth-of-type(1){
    position: absolute;
    top: 392px;
    left: 26px;
    border-radius: 90px;
    transform: rotate(338deg);
}

section.genres ul li:nth-of-type(2){
    /* position: absolute;
    top: 331px;
    left: 401px; */
    border-radius: 90px 0px 90px 90px;
    transform: rotate(35deg);
}

section.genres ul li:nth-of-type(3){
    /* position: absolute;
    top: 437px;
    left: 726px; */
    transform: rotate(356deg);
}

section.genres ul li:nth-of-type(4){
    /* position: absolute;
    top: 702px;
    left: 949px; */
    height: 9em;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

section.genres ul li:nth-of-type(5){
    /* position: absolute;
    top: 575px;
    left: 422px; */
    border-radius:50%;
    aspect-ratio: 1/1;
}

section.genres ul li:nth-of-type(6){
    /* position: absolute;
    top: 478px;
    left: 1560px; */
    transform: rotate(343deg);
}

section.genres ul li:nth-of-type(7){
    /* position: absolute;
    top: 476px;
    left: 42px; */
    transform: rotate(16deg);
}

section.genres ul li:nth-of-type(8){
    /* position: absolute;
    top: 417px;
    left: 1158px; */
    transform: rotate(322deg);
}

section.genres ul li:nth-of-type(9){
    /* position: absolute;
    top: 656px;
    left: 1655px; */
    transform: rotate(313deg);
}

section.genres ul li:nth-of-type(10){
    /* position: absolute;
    top: 274px;
    left: 740px; */
    transform: rotate(334deg);
}

section.genres ul li:nth-of-type(11){
    /* position: absolute;
    top: 687px;
    left: 1109px; */
    transform: rotate(22deg);
}

section.genres ul li:nth-of-type(12){
    /* position: absolute;
    top: 619px;
    left: 1318px; */
    transform: rotate(19deg);
}