/* ************ */
/* Landing Page */
/* ************ */

main > section.landing{
    padding: 0;

    z-index: 99;

    position: fixed;

    display: grid;
    
    place-items: center;

    transition: 1.7s;

    width: 100%;

    background-color: red;
}

main > section.landing h1{
    padding-bottom: .2rem;
    margin: 0;

    font-family: var(--primary-font-family);

    font-size: clamp(4rem, 2vw, 8rem);

    text-align: center;
}

main > section.landing h1 span {
    font-family: var(--secondary-font-family);
}

main > section.landing p {
    font-family: var(--primary-font-family);
    font-size: clamp(1rem, 1.6vw, 2rem);

    text-align: center;

    line-height: 1.4;

    max-width: 20em;
}

section.landing.fade-out{
    opacity: 0;
    transform: translateY(150px);
}

section.landing.remove{
    display: none;
}

section.blocks{
    width: 100%;
    height: 100%;

    gap: 30px;
    
    background-color: blue;
}

section.blocks.remove{
    display: none;
}

div.block{
    position: absolute;
}

section.blocks div.block p {
    padding: 0;
    margin: 0;
}



/* ************************* */
/* Individuele stijl blokken */
/* ************************* */


/* ****** */
/* Blok 1 */
/* ****** */

section.blocks div.block:nth-child(1) {
    transform: rotate(30deg);

    display: flex;

    display: none;

    justify-content: flex-start;
    align-items: flex-end;

    width: 50vmin;
    aspect-ratio: 2 / 1;

    background-color: var(--brown);
}

section.blocks div.block:nth-child(1) {
    font-family: var(--secondary-font-family);
    font-size: clamp(2rem, 4vw, 6rem);

    color: black;
}



/* Rode cirkel met pijl. */
section.blocks div.block:nth-child(2) {
    display: grid;

    place-content: center;

    color: black;

    width: 20vmin;
    aspect-ratio: 1;

    border-radius: 50%;

    background-color: var(--red);

    display: none;
}

section.blocks div.block:nth-child(2) svg {
    fill: black; 

    width: 3rem;
}


/* Oranje pilvormige blok. */
section.blocks div.block:nth-child(3) {
    display: grid;

    display: none;

    place-content: center;

    font-family: var(--secondary-font-family);
    font-size: clamp(2rem, 4vw,5rem);

    color: black;

    width: 50vmin;
    aspect-ratio: 2 / 1;

    border-radius: var(--border-radius-pill);

    background-color: var(--red);
}

section.blocks div.block:nth-child(3) p {
    font-family: var(--secondary-font-family);
    font-size: clamp(1rem, 1vw, 1.6rem);

    text-align: center;

    color: var(--secondary-text-color);
}


section.blocks div.block:nth-child(4){
    display: flex;

    display: none;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1rem;

    color: black;

    width: 20vmin;
    aspect-ratio: 1;

    border-radius: 50%;

    background-color: var(--red);
}

section.blocks div.block:nth-child(4) p {
    font-family: var(--secondary-font-family);
}

section.blocks div.block:nth-child(4) svg {
    width: 2rem;
}



section.blocks div.block:nth-child(5) {
    display: flex;

    display: none;

    align-items: center;
    justify-content: center;

    color: black;

    width: 50vmin;
    aspect-ratio: 2 / 1;

    background-color: var(--brown);
}

section.blocks div.block:nth-child(5) p {
    text-align: center;
}



/* Grote cirkel en die dingen daar. */
section.blocks div.block:nth-child(6) {
    display: flex;

    display: none;

    align-items: center;
    justify-content: center;

    color: black;

    width: 50vmin;
    aspect-ratio: 1;

    border-radius: var(--border-radius-circle);

    background-color: var(--ekru);
}

section.blocks div.block:nth-child(6) p {
    font-family: var(--primary-font-family);
}

section.blocks div.block:nth-child(6) p span {
    font-family: var(--secondary-font-family);
}






/* Grote cirkel en die dingen daar. */
section.blocks div.block:nth-child(7) {
    display: flex;

    display: none;

    align-items: flex-end;
    justify-content: center;

    color: black;

    width: 20vmin;
    aspect-ratio: 1 / 2;

    background-color: var(--ekru);
}

section.blocks div.block:nth-child(7) p {
    font-family: var(--primary-font-family);
    font-size: 3rem; /* Tijdelijk */
}



section.blocks div.block:nth-child(8){
    display: flex;

    display: none;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1rem;

    color: black;

    width: 20vmin;
    aspect-ratio: 1;

    border-radius: 50%;

    background-color: var(--red);
}

section.blocks div.block:nth-child(8) p {
    font-family: var(--secondary-font-family);
}

section.blocks div.block:nth-child(8) svg {
    width: 2rem;
}



/* section.blocks div.block:nth-child(4){
    top: 230px;
    right: 704px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
} */

/* 
section.blocks div.block:nth-child(5){
    top: 10px;
    right: 10px;
} */

/* section.blocks div.block:nth-child(6){
    top: 200px;
    right: 250px;
    height: 600px;
    width: 200px;
    transform: rotate(45deg);
} */

/* section.blocks div.block:nth-child(7){
    background-color: white;
    height: 200px;
    width: 400px;
    top: 90px;
    left: 100px;
    transform: rotate(15deg);
} */


div.block.fall{
    animation: fall 2s ease-in;
    animation-fill-mode: forwards;
}