.bubble {
    position: absolute;
    top: var(--bubble-top);
    left: var(--bubble-left);
    display: grid;
    place-content: center;
    min-width: fit-content;
    width: 20vw;
    height: 100px;
    padding: 5px 10pxs;
    background-color: lightblue;
    color: black;
    border-radius: 50px;
    opacity: 0;
    font-size: 2rem;
    font-weight: bold;
}

.jump{
    animation: jump 1s;
    animation-fill-mode: forwards;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(80px);
        opacity: 1;
    }
}

section.loading{
    position: fixed;
    inset: 0;
    display: none;
    background-color: transparent;
    transform: translateY(-100%);
    opacity: .5;
    transition: transform 0.5s ease-in, opacity 0.5s ease, background-color 0.5s ease 0.5s;
}

section.loading.show{
    display: block;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.jump::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 50%;

    animation: wave 2s ease-out forwards;
}

@keyframes wave {
    0%{
        border: 3px solid white;
        transform: scale(1);
    }

    80%{
        opacity: 0;
    }

    100%{
        transform: scale(2);
    }
}

main > section{
    opacity: 1;
    transition: opacity 0.5s;
}

main:has(section.loading.show) > section:first-of-type{
    opacity: 0;
}