.bubble {
    position: absolute;
    top: var(--bubble-top);
    left: var(--bubble-left);

    display: grid;
    place-content: center;

    background-color: lightblue;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    opacity: 0;
}

.jump{
    animation: jump 1s;
    animation-fill-mode: forwards;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(80px);
        opacity: 1;
    }
}

section.loading{
    position: fixed;
    inset: 0;
    background-color: pink;
    transform: translateY(-100%);
    opacity: .5;
    transition: transform 0.5s ease-in, opacity 0.5s ease;
}

section.loading.show{
    transform: translateY(0);
    opacity: 1;

}

.jump::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 50%;

    animation: wave 2s ease-out forwards;
}

@keyframes wave {
    0%{
        border: 2px solid black;
        transform: scale(1);
    }

    80%{
        opacity: 0;
    }

    100%{
        transform: scale(2);
    }
}

main > section{
    opacity: 1;
    transition: opacity 0.5s;
}

main:has(section.loading.show) > section:first-of-type{
    opacity: 0;
}