section.poem{
    position: absolute;
    inset: 0;

    display: none;
}

section.poem.show{
    display: grid;
    place-content: center;
}

main:has(aside ul) section.poem{
    position: static;
}

main:has(aside.show) section.poem{
    grid-template-columns: 2fr 1fr;
}

article {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 3em;
}

section.poem p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 80vw;
}

.keyword {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 20px 20px 20px 0;
    filter: drop-shadow(0px 2px 6px black) drop-shadow(0px 2px 6px white);
    animation: hover 1s infinite alternate;
}

@keyframes hover {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

ul li {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 2em;
}

aside{
    background-color: white;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 25vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    border-radius: 30px 0 0 30px;
    transform: translateX(100%);
}

aside.show{
    transform: translateX(0);
}

aside h3 {
    font-size: 3em;
    text-align: center;
    color: black;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.4s;
    border: 4px solid transparent;
}

span.active{
    background-color: white;
    color: black;
    border-color: black;
}

aside button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    border: 4px solid black;
    border-radius: 20px;
    font-size: 1.25em;
}
