section.heading-themes{
    display: none;
    opacity: 0;
    transition: 0.4s;
}
section.heading-themes.fade-in{
    opacity: 1;
    transform: translateY(-100px);
}

section.heading-themes.block{
    display: block;
}

section.heading-themes h2{
    font-size: 4em;
    font-weight: 400;
}

section.themes{
    transform: translateY(100vh);
    transition: 1.7s;
}

section.themes ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

section.themes ul li{
    color: black;
    background-color: white;
    padding: 40px;
    font-size: 2em;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    flex-grow: 1;
}

section.themes ul li.active{
    opacity: 0.5;
}

section.themes.fall{
    transform: translateY(0px);
}
