:root{
    --bubble-top: 0;
    --bubble-left: 0;
    --comedy-bg-color: #FFEB3B;
    --haiku-bg-color: #8BC34A;
    --snelsonnet-bg-color: #3F51B5;
    --tragedyplot-bg-color: #616161;
    --sixword-bg-color: #009688;
    --manifest-bg-color: #2196F3;
    --ollekebolleke-bg-color: #FF9800;
    --essay-bg-color: #9C27B0;
}